<nav class="navbar">
    <div class="nav-container">
        <h1 class="logo" routerLink="/dashboard">FIT-KMZK</h1>
        <div class="nav-buttons">
            <button class="nav-btn" *ngIf="estaAutenticado() && esAdmin()" routerLink="/maquinas">Máquinas</button>
            <button class="nav-btn" *ngIf="estaAutenticado() && esAdmin()" routerLink="/monitores">Monitores</button>
            <button class="nav-btn" *ngIf="estaAutenticado()" routerLink="/dashboard">Dashboard</button>
            <button class="nav-btn" *ngIf="estaAutenticado()" routerLink="/carrito">
                Carrito
                <span *ngIf="carritoService.cantidad() > 0">({{ carritoService.cantidad() }})</span>
            </button>
            <button class="nav-btn" routerLink="/registro" *ngIf="!estaAutenticado()">Registro</button>
            <button class="nav-btn" routerLink="/login" *ngIf="!estaAutenticado()">Login</button>
            <button class="nav-btn" (click)="logout()" *ngIf="estaAutenticado()">Logout</button>

        </div>
    </div>
</nav>
